# Ignore VS Code settings
.vscode/
obj/
bin/
appsettings.json
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
Transformer/__pycache__/mongodal.cpython-314.pyc
ProductVectorSearchAPI/ProductVectorSearchAPI/appsettings.Development.json
*.bak
DataCache/*.json
